@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #07020d;
    color: white;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    margin-top: 2rem;
    color: #f1e9db
}

.search-input {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 10px;
}

.search-box {
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}

.search-box:focus {
    outline: none
}

.search-icon {
    background-color: #716a5c;
    color: white;
}

@media screen and (max-width: 600px) {
    .search-box {
        max-width: 80%;
    }
}

.table-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .table-container {
        justify-content: flex-start;
    }
}

.main-table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 50px;
}

.table-row {
    background-color: #2e2d2d;
}

th {
    background: #A39B8B;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

th,
td {
    padding: 12px;
    text-align: left;
}

.input-checkbox {
    margin: 0;
    height: 20px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.bottom-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.action-btn-grp {
    display: flex;
    gap: 10px
}

.action-btn-grp button {
    max-width: 70px;
    color: black;
    font-weight: 700;
    background: #a39b8b;
}

.save-btn,
.edit-btn,
.delete-btn,
.cancel-btn {
    width: 50%;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-grp {
    display: flex;
    gap: 10px;
}

.btn-grp button {
    max-width: 40px;
    border-radius: 10px;
    background-color: #272626;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .pagination {
        flex-direction: column;
    }

    .btn-grp {
        gap: 3px
    }

    .btn-grp button {
        max-width: 25px;
        border-radius: 5px;
    }
}

.selection-data {
    display: flex;
    align-items: center;
    gap: 20px;
}

.selection-data button {
    width: 80%;
    background-color: #cc2e2e;
    color: white;
    margin: 0;
    font-weight: 500;
}

.selected-row {
    background: #272626;
}

.edit-input {
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}